@font-face {
    font-family: Montserrat-Black;
    src: url(../fonts/Montserrat-Black.otf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.otf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}

head,body,nav,footer,ul,li,div{
	font-family:Montserrat-Regular;
	margin:0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}

a, a:visited{
	text-decoration: none;
	color:#00999C;
}

html,body{
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}

/* NAV */
/*
nav{
	background-color: #ccc;
	background-image:url("../images/BG_header.png");
	height:128px;
}

nav ul{
	list-style: none;
	margin: 12px;
}*/

nav ul{
	display: block;
	margin-left: 45%;	
	margin-top: 11px;
}

nav li{
	display: inline-block;
	color:#ddd;
	float: left;
	position: relative;
	height: 92px;
	font-size: 15px;
	font-family: Montserrat-Light;
	padding-left: 40px;
	text-transform: lowercase;
}

#headerMain{
	background: #222222;
	/*background-image: url('../images/BG_header.png');*/
	height: 70px;
}

.logoHeader{
	background-image: url('../images/logoRG.png');
	height: 60px;
	width: 60px;
	display: block;
	float:left;
	margin-left: 280px;
	margin-top: 5px;
}

.logoHeader:hover{
	background-image: url('../images/logoRG_2.png');	
}

/*

nav{
	font-family: Montserrat-Regular;
}

.nav{
	padding-left: 185px;
}

.navSize{
	margin-top: 20px;
	margin-bottom: 20px;
}

.miNav{
	overflow: hidden;
	/*border:1px solid green;
	padding:0px 50px;
}*/

.navSize li{
	text-transform: lowercase;
	font-size: 18px;
	font-family: Montserrat-Light;

}


.miNav li{

	display:inline-block;
	width:24%;
	font-family: Montserrat-Light;
	font-size: 25px;
	text-align: center;
	text-transform: lowercase;
	color:#484848;
	
}

.logo{
	opacity: 0.7;
	margin-top: -11px;
	width: 80px;
	height:80px;/*

	margin-top: .08%;
	position:absolute;
	z-index:100;
	display: block;*/
}

.navCol{
	margin-top:1%;
	margin-bottom:1%;
}

.lineaNav01{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	/* padding: 0; */
	margin-top: 20px;
	margin-bottom: 20px;
}

.lineaNav02{
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	/* padding: 0; */
	margin-top: 10px;
	margin-bottom: 10px;
}

/*SECCIÓN ABOUT ME*/
.about{
	border-top:2px solid #777;
	height:355px;	
	background-image:url('../images/BG_about.png');
	background-size: 100% 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.about h1, .portfolio h1, .reel h1, .habilidades h1{
	font-family: Montserrat-Regular;
	font-size:69px;
	text-align:center;
	text-transform: lowercase;
	color:#3e3e3e;
	margin-top: 50px;
}

.about p{
	font-family: Montserrat-Light;
	font-size:18px;
	text-align:center;
	color:#645e5e;
	padding-top: 40px;
	font-weight: 100;
}

/* Escuela */

.escuela{
	
	border-top:2px solid #777;
	background-color:#aaa;
	background: url('../images/BG_escuelav2.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.escuela h2{
	text-align: center;
	font-family: Montserrat-Black, Verdana;
	text-transform: lowercase;
	font-size: 23px;
	color:#645e5e;
}

.escuela img{
	display: block;
	margin-left:auto;
	margin-right: auto;
	margin-top: 37px;
}

.escuela p{
	text-align: center;
	font-family: Montserrat-Regular, Verdana;
	font-size:18px;
	color:#645e5e;
	margin-top:10px;
	margin-bottom: 20px;
}

.escuela .linkAnim{
	perspective: 600px;
	perspective-origin: 50% 50%;
	vertical-align: top;
	text-decoration: none;
	overflow:hidden;
	display: inline-block; 
}

.linkAnim span{
	color:#00999C;
	display: block; position: relative;
	transition: all 400ms ease;
	transform-origin: 50% 0%;	
	transform-style: preserve-3d;

}

.linkAnim:hover{
	color:#fff;
	Montserrat-Light;

}

.linkAnim:hover span{
	background:#00999C;
	 color white;
	 transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	 font-family: Montserrat-Light;
	 font-weight: 50;
}

.linkAnim span:after{
	content: attr(data-content);
	font-family: Montserrat-Light;
	color: #fff; 
	background: #1e647a; 
	left: 0; top: 0; right:0; bottom: 0;
	display: inline-block;
	position: absolute;
    transform-origin: 50% 0%;
    transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

/*
.escLogo{
	background-image:url('../images/BG_LeftEsc.png');
	background-size: 100% 100%;


}

.expLogo{
	background-image:url('../images/BG_RightEsc.png');
	background-size: 100% 100%;
}*/

/* Portafolio */

.portfolio{
	border-top:2px solid #777;

	margin-bottom: 60px;
}

.portfolio img{
/*	width:230px;
	height: 130px;*/
}

.portfolio .img-cont{
	float:left;
	width: 30%;
	margin-left: 30px;
	margin-top: 50px;

}

.img-cont.animate{
	-webkit-animation:fadeIn 1s 0s ease-in;
	animation:fadeIn 1s 0s ease-in;
}


/*Demo Reel*/

.reel{
	height:600px;
	border-top:2px solid #777;
}


.reel .videoContainer{
	margin-left:auto;
	margin-right: auto;
	margin-top:50px;
	visibility:hidden;
}

.videoContainer.animate{
	-webkit-animation:bounceInUp 1s 0s ease;
	animation:bounceInUp 1s 0s ease;
	visibility:visible;

}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}




/*Habilidades*/


.habilidades{
	border-top:2px solid #777;
	background-color:#ccc;
}

.habilidades.hidden{
	visibility: hidden;
}

#svgContainer{
	
	margin:30px  20% 40px 20%;
	border-left: 3px solid white;
	border-bottom: 4px solid white;
}

#svgContainer a{
	text-decoration: none;
}




/*Animación Habilidades*/
.graph-adobeCSS{
	-webkit-animation: popright 1s 0s ease;
	animation: popright 1s 0s ease;	
}

.adios{
	display: none;
}

.graph-htmlCss{
	/*transform: translateX(-650px)*/
}

.rectangle{
	 width: 100%;
	 height:20px;
	 background:#3498DB;
	 border:2px solid #FFFFFF;
	 margin-left:-2px;
	 visibility: visible;
	 margin-bottom: 5px;
	 visibility:hidden;
}

.rectangle.animate{
	-webkit-animation: popLeft 1s 0s ease;
	animation: popLeft 1s 0s ease;	
	-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    visibility:visible;
}

.rectangle:hover{
	opacity:.8;
}


.textoGraf{
	color:#FFFFFF;
	font-family: Montserrat-Regular;
	font-size: 11px;
	margin-left: 4px;
	visibility: hidden;
}

.textoGraf.animate{
	opacity: 0;
	-webkit-animation: fadeIn 1s .8s ease-in;
	animation: fadeIn 1s .8s ease-in;	
	-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    visibility: visible;
}

@-webkit-keyframes fadeIn{
	0% { opacity:0;
	  }

	  100% { opacity: 1 }
}

@-webkit-keyframes popLeft{
	0% { width:0%;
		
	  }

	  100% {width:100%; }
}


/*Circulo interactivo*/
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.ch-item{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.ch-item.animate {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
/*
.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}*/



.ch-img-1{
	background-image:url(../images/skills.png);
	background-size: 100% 100%;
}

.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}
/*
.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}*/

.ch-item.animate .ch-info {
	transform: scale(1);
	opacity: 1;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 40px 30px 0 30px;
	padding: 45px 0 0 0;
	height: 80px;
	font-family: 'Montserrat-Black';
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {

	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 11px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: opacity 1s ease-in-out 0.4s;
	color: rgba(255,255,255,0.9);
	letter-spacing: 1px;
	font-family: 'Open Sans', Arial, sans-serif;

}

.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	/*text-transform: uppercase;*/
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}



.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}

.ch-item.animate .ch-info p {
	opacity: 1;
}

/*
.ch-item:hover .ch-info p {
	opacity: 1;
}*/

/*Footer*/

.footerCV{
		 padding: 40px 0;
	  color: #333;
	  text-align: center;
	  background-color: #d3dfe2;
	border-top:2px solid #777;
}

.footerCV ul{
	display: block;
	margin-left: 60%;	
	margin-top: -15px;

}

.footerCV p{
	float: left;
	margin-left: 100px;
}

.footerCV li{

	display: inline-block;
	color:black;
	float: left;
	position: relative;
	font-size: 10px;
	font-family: Montserrat-Light;
	padding-left: 40px;
	text-transform: lowercase;

}

@media(max-width: 767px){
  .miNav li{
    font-size: 18px;
  }

  .portfolio .img-cont{

	width: 28%;

}

}

@media(max-width: 505px){
  .miNav li{
    font-size: 15px;
  }

}

@media(max-width: 992px){
  .portfolio .img-cont{
	float:left;
	width: 29%;
	margin-left: 30px;
	margin-top: 50px;
}

}




